<ion-view title={{i18n.changes.title}} id="changes-view">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content>

    <!-- Lista de categorías según estado de los cambios -->
    <ion-list>
      <ion-card ng-repeat="s in status track by $index">
        <ion-item ng-style="{'background' : true ? getStatusRGBA($index) : 'none'}"
                  ng-click="toggleStatusShown(s)">
          <i ng-class="{ 'ion-cloud': $index == 0, 'ion-checkmark-circled': $index == 1, 'ion-close-circled': $index == 2, 'ion-clock': $index == 3,}"
             style="font-size:20px">  {{status[$index].value}}</i>

                <!-- {{status[$index].value}} -->
                <!-- <ion-badge item-right>9</ion-badge> -->
        </ion-item>

        <!-- Lista de cambios de cada categoría -->
        <ion-list>
          <ion-item class="item-accordion"
                    ng-repeat="cambio in getCambiosEstado(s)"
                    ng-show="isStatusShown(s)">
            <ion-card>
              <ion-card-header>
                <ion-item ng-style="{'background' : true ? getCambioRGBA($index, cambio) : 'none'}">
                  <span style="float:left">{{cambio.espacio}}</span>
                  <span style="float:right">{{cambio.fecha}}</span>
                </ion-item>
              </ion-card-header>
            <br>
              <ion-card-content class="item-text-wrap">
                  {{cambio.descripcion | limitTo:200}}{{cambio.descripcion.length > 200 ? '...' : ''}}
                <br><br>

                <span class="button button-positive" style="float:left" ng-click="showDetails(cambio)">Ver detalles</span>
                <span class="button button-positive" style="float:right" ng-click="showResponse(cambio)">Responder</span>
              </ion-card-content>
            </ion-card>
          </ion-item>

          <!-- Si no hay cambios se muestra este elemento -->
          <ion-item ng-show="isStatusEmpty(s) && isStatusShown(s)">
            <ion-card>
              <ion-card-content class="item-text-wrap">
                No hay cambios con este estado.
              </ion-card-content>
            </ion-card>
          </ion-item>

        </ion-list>

      </ion-card>
    </ion-list>
  </ion-content>
</ion-view>
