<ion-view id="home-view" title={{i18n.home.title}} xmlns="http://www.w3.org/1999/html">
    <ion-content class="card-background-page">

      <!-- Version movil -->
      <div class="smallScreen">
        <div class="row">
          <div class="map-card col col-100">
              <img src="images/campus/huesca.jpg" style="width:100%"
                    ng-click="loadMap(4)" ui-sref="app.map"></img>
              <div class="card-title">Huesca</div>
              <div class="card-subtitle">1 Campus</div>
          </div>
        </div>
        <div class="row">
          <div class="map-card col col-100">
              <img src="images/campus/zaragoza.jpg" style="width:100%"
                    ng-click="loadMap(0)" ui-sref="app.map"></img>
              <div class="card-title">Zaragoza</div>
              <div class="card-subtitle">4 Campus</div>
          </div>
        </div>
        <div class="row">
          <div class="map-card col col-top col-100">
              <img src="images/campus/teruel.jpg" style="width:100%"
                    ng-click="loadMap(5)" ui-sref="app.map"></img>
              <div class="card-title">Teruel</div>
              <div class="card-subtitle">1 Campus</div>
          </div>
        </div>

        <div class="row">
          <img id ="img-logo" src="images/logo_uz.png" alt={{i18n.home.logo_alt}}></img>
        </div>
      </div>

      <!-- Para pantallas grandes -->
      <div class="bigScreen">

        <div class="row">
          <img id ="img-logo" src="images/logo_uz.png" alt={{i18n.home.logo_alt}}></img>
        </div>

        <div class="row">
          <ion-card style="width:33%;margin-right:auto">
            <div class="map-card">
              <img src="images/campus/huesca.jpg" style="width:100%"> </img>
              <div class="card-title">Huesca</div>
              <div class="card-subtitle">1 Campus</div>
            </div>

            <div class="item item-icon-left item-icon-right" ng-click="loadMap(4)" ui-sref="app.map">
              <i class="icon ion-map"></i>
              <h2>Campus de Huesca</h2>
              <i class="icon positive ion-arrow-right-c"></i>
            </div>
          </ion-card>

          <ion-card style="width:33%;margin-right:auto">
            <div class="map-card">
              <img src="images/campus/zaragoza.jpg" style="width:100%"> </img>
              <div class="card-title">Zaragoza</div>
              <div class="card-subtitle">4 Campus</div>
            </div>

            <div class="item item-icon-left item-icon-right" ng-click="loadMap(0)" ui-sref="app.map">
              <i class="icon ion-map"></i>
              <h2>Campus San Francisco</h2>
              <i class="icon positive ion-arrow-right-c"></i>
            </div>

            <div class="item item-icon-left item-icon-right" ng-click="loadMap(1)" ui-sref="app.map">
              <i class="icon ion-map"></i>
              <h2>Campus Río Ebro</h2>
              <i class="icon positive ion-arrow-right-c"></i>
            </div>

            <div class="item item-icon-left item-icon-right" ng-click="loadMap(2)" ui-sref="app.map">
              <i class="icon ion-map"></i>
              <h2>Campus Empresariales</h2>
              <i class="icon positive ion-arrow-right-c"></i>
            </div>

            <div class="item item-icon-left item-icon-right" ng-click="loadMap(3)" ui-sref="app.map">
              <i class="icon ion-map"></i>
              <h2>Campus Miguel Servet</h2>
              <i class="icon positive ion-arrow-right-c"></i>
            </div>
          </ion-card>

          <ion-card style="width:33%;margin-right:auto">
            <div class="map-card">
              <img src="images/campus/teruel.jpg" style="width:100%"> </img>
              <div class="card-title">Teruel</div>
              <div class="card-subtitle">1 Campus</div>
            </div>

            <div class="item item-icon-left item-icon-right" ng-click="loadMap(5)" ui-sref="app.map">
              <i class="icon ion-map"></i>
              <h2>Campus de Teruel</h2>
              <i class="icon positive ion-arrow-right-c"></i>
            </div>
          </ion-card>
        </div>

      </div>
    </ion-content>
</ion-view>
