<ion-view id="room-details-view" title={{i18n.room_details.HOME}} xmlns="http://www.w3.org/1999/html">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content >
        <div class="list">
            <label class="item item-input">
                <span class="input-label">{{i18n.room_details.labels.id}}:</span>
                <input type="text" ng-model="data.id" disabled>
            </label>
            <label class="item item-input">
                <span class="input-label">{{i18n.room_details.labels.room}}:</span>
                <input type="text" ng-model="data.room" disabled>
            </label>
            <label class="item item-input">
                <span class="input-label">{{i18n.room_details.labels.type}}:</span>
                <input type="text" ng-model="data.type" disabled>
            </label>
            <label class="item item-input">
                <span class="input-label">{{i18n.room_details.labels.area}}:</span>
                <input type="text" ng-model="data.area" disabled>
            </label>
            <button class="button button-full button-positive" ng-click="loadPhotos()">
                {{i18n.room_details.buttons.photo}}
            </button>
            <button class="button button-full button-positive" ng-click="goToRoomPlan()">
                {{i18n.room_details.buttons.map}}
            </button>
        </div>
    </ion-content>
</ion-view>
