<ion-view title={{i18n.advanced_search.title}}>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content>

        <div class="list">

            <button class="button button-positive" ng-click="searchAllRoomsCodes()">
                {{i18n.advanced_search.button_text}}
            </button>
            <label id="codEspacio" style="display:none" class="item item-input item-select formulario-input">
                <div class="input-label" >
                    {{i18n.advanced_search.select_text}}
                </div>
                <select  class="ion-input-select" ng-model="codigoEspacios" >
                    <option ng-repeat="cod in codigoEspacios"
                            value="{{cod.ID_espacio}}">
                        {{cod.ID_espacio}}
                    </option>
                </select>

            </label>

        </div>

        <button class="button button-positive" >
            {{i18n.advanced_search.main_btn}}
        </button>

    </ion-content>

</ion-view>
