<div id="confirm-delete-poi-popup">
	<p>
		{{i18n.pois.modals.confirm_delete.text1}}
	</p>
	<p>
		{{i18n.pois.modals.confirm_delete.reason_label}}
	</p>
	<textarea rows="5" required style="border: 1px solid grey; margin-bottom: 10px; padding: 5px;"></textarea>
	<p>
		{{i18n.pois.modals.confirm_delete.text2}}
	</p>
	<div class="list">
		<label class="checkbox-inline">
				<input type="checkbox" value="" ng-model="emailChecked">{{i18n.pois.modals.confirm_delete.notification}}
		</label>
	  <label class="item item-input">
	    <input type="email" ng-model="email" required>
	  </label>
	</div>
</div>