<div id="confirm-upload-photo-popup">
	<p ng-hide="hideNoPhotosText">
		{{i18n.photos.modals.confirm_upload1.text1}}<br>
		{{i18n.photos.modals.confirm_upload1.text2}}
	</p>
	<p>
		{{i18n.photos.modals.confirm_upload1.text3}}
	</p>
	<div class="list">
		<label class="checkbox-inline">
				<input type="checkbox" value="" ng-model="emailChecked"><label>{{i18n.photos.modals.confirm_upload1.notification}}</label>
		</label>
	  <label class="item item-input">
	    <input type="email" ng-model="email">
	  </label>
	</div>
</div>