#changes-view {
  i.px14::before{
    font-size:14px;
  }
  .card-yellow .item{
    background: yellow;
  }
  .card-green .item{
    background: green;
  }
  .card-red .item{
    background: red;
  }
  .card-orange .item{
    background: orange;
  }
}
