#map {

  /* GENERAL */
  width: 98%;
  height: 97%;
  border-style: solid;
  border-width: 1px;
  margin-left:1%;
  margin-right:1%;
  margin-top:1%;
  margin-bottom:2%;

  /* SEARCH BOX */
  /*.leaflet-control-search.search-expt {
    margin-left: -50%;
  }*/

  /* MARKERS */
  .leaflet-popup {
    bottom: -40px !important;
  }
  .leaflet-popup-content {
    margin: 10px 10px !important;
    line-height: 1.8 !important;
  }
  .text-center {
    margin-bottom: 20px !important;
  }
  .button-how, .select-map {
    width: 35%;
    margin-left: 10px;
  }
  .select-map {
    margin-top: 5px;
  }
  .leaflet-popup-content-wrapper {
    width: 320px !important;
  }
}