.mymenu {

  .menu-level1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .menu-level1 ion-item {
    margin-bottom: -20px;
  }

  .menu-level1 span, .menu-level1 i {
    color: #FFFFFF;
  }
}
